.Paper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2, h4{
    margin: 0.1em;
}

h4 {
    margin:0.1em;
    color: #7f8688;
}

.botonMasYmenos {
    color: cadetblue;
}

.botonAgregar{
    margin-top: 1em !important;
    background-color: cadetblue !important;
    color: beige !important;
}

.Cantidad {
    display: flex;
    justify-items: center;
    padding: 1em;
    border: none;
}